/* home */
section ul li{
  list-style: none;
  display: inline-flex;
  padding: 8px 20px;
  letter-spacing: 1px;
  cursor: pointer;
  background: #e9e7e7;
  margin-bottom: 1%;
}
section ul li.active
{
  background: rgb(121, 121, 245);
  color: #efefef
  ;
}
.brand1{
    text-align: center;
    padding: 5%;
    margin-top: 20%;
    margin-left: 20%;
}
.b1{
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.10)
),url("images/img_bac.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 8%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

}
.bike-image{
    width:30%;
    position: relative;
    margin-left: 35%;
}

.nav2 {
    margin: 30px auto; 
    text-align: center;
  }
  .nav2 ul {
    background: #efefef; 
    background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
    background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
    background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
    box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
    padding: 0 20px;
    border-radius: 10px;  
    list-style: none;
    position: relative;
    display: inline-table;
  }
        .nav2 ul li {
        float: left;
        }
      .nav2 ul li:hover {
        background: #4b545f;
        background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
        background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
        background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
      }
       .nav2 ul li:hover a {
          color: #fff;
        }
      
       .nav2 ul li a {
        display: block; padding: 25px 40px;
        color: #222121; 
        text-decoration: none;
      }
/* (A) FIXED WRAPPER  */
.hwrap {
  margin-top: 3%;
  overflow: hidden; /* HIDE SCROLL BAR */
  background: rgba(220, 236, 236, 0.322);
}
 
/* (B) MOVING TICKER WRAPPER */
.hmove { display: flex; }

/* (C) ITEMS - INTO A LONG HORIZONTAL ROW */
.hitem {
  flex-shrink: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}
 
/* (D) ANIMATION - MOVE ITEMS FROM RIGHT TO LEFT */
/* 4 ITEMS -400%, CHANGE THIS IF YOU ADD/REMOVE ITEMS */
@keyframes tickerh {
  0% { transform: translate3d(100%, 0, 0); }
  100% { transform: translate3d(-100%, 0, 0); }
}
.hmove { animation: tickerh linear 15s infinite; }
.hmove:hover { animation-play-state: paused; }   
@media(max-width:770px){
  .b1{
    background-image: linear-gradient(
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.10)
),url("images/petrol_bac.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 40%;
  }
}
@media(max-width:430px) and (min-width:370px){
  .b1{
    background-image: linear-gradient(
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.10)
),url("images/mobile_view.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
  }
}
@media(max-width:370px) and (min-width:380px){
  .b1{
    background-image: linear-gradient(
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.10)
),url("mobile_view.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70%;
  }
}
.slogan {
  background: #f7937ab7;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-align: center;
  font-family: 'Style Script', cursive;
  margin-left: 36%;
}
.brand_cont
{
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 10px;
  overflow: hidden;
}
.div_back{
  padding-top: 1%;
}
.brand{
  margin-top: -6%;
  margin-left: -6%;
}
.brandi{
  background-color: white;
  margin-left: 3%;
  border-radius: 10px;
  margin-bottom: 3%;
  width: 45%;
}
.lazy2{
  margin-left: -35px;
}
@media(max-width:430px){
  .slogan{
    background: #f7937a88;
    color: rgba(255, 255, 255, 0.712);
  }
  .hwrap{
    display: none;
  }
  .active{
    margin-left:8%;
  }
  .foot div{
    text-align: center;
    padding-bottom: 2%;
  }
  .insure{
    margin-left: -5%;
  }
  .nav2 ul{
    background: -webkit-linear-gradient(top, #efefefa9 0%,#bbbbbba9 100%);
  }
  .car1{
    margin-left: -9%;
  }
  .car2{
    margin-left: -18%;
  }
  .car4{
    margin-left: -9%;
  }
  .img-div{
    margin-top: 5%;
  }
  .pet-align{
    margin-top: 3%;
    position: relative;
  }
  .pet h1{
    display: none;
  }
}
.upbikes ul li{
  margin-left: 3%;
  padding-bottom: 1.5%;
}
.upbikes div{
  background-image:linear-gradient(  rgba(0, 0, 0, 0.8),
  rgba(0, 0, 0, 0.10)),url("images/key.jpeg") ;
  background-repeat: no-repeat;
  background-size:100%;
  align-items: center;
}
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
@media(max-width:769px){
.slogan{
  margin-left: 30%;
}
.eeve{
  margin-left: -20%;
}
.car6{
  margin-top: -85%;
  margin-left: 120%;
}
.emi{
  background-size: cover;
}
.upbikes div{
  background-size: auto;
}
.img-div2{
  margin-left: 3%;
}
}
.grad{
  background-color: #f0efef69;
}
.emii{
  background-image:linear-gradient(  rgba(0, 0, 0, 0.8),
  rgba(0, 0, 0, 0.10)),url("images/emi.jpg") ;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 3%;
}
.emi p{
  padding: 20% 0;
  text-align: center;
  margin-top: 15%;
  font-family: 'Kaisei HarunoUmi', serif;
  font-family: 'Noto Serif', serif;
  font-size: 150%;
  color: rgb(255, 255, 255);
}
.insure{
  width: 120%;
  margin-top: 10%;
}
.warrenty{
  background-image: url("images/Warrenty.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 3%;
}
.reg{
  background-image: url("images/Registration.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 3%;
}
@media(max-width:320px){
  .grad{
    margin-right: 5%;
  }
}
/* /home */
/* ev */
.eev{
background-image:url("images/ev_bac.jpg");
background-size:100%;
height: 100%;
display:block;
background-position: 60%;
padding:0 !important;
margin:0;
}
.eev .nav2{
  margin-top: 5%;
}
.elec-bikes{
  margin: 5% 0;
  border-top: #0f0f0f2a 1px solid;
  border-bottom: #0f0f0f2a 1px solid;
}
.img-div{
  border: rgba(0, 0, 0, 0.13) 1px solid;
}
.img-div1{
  margin-left: 3%;
  padding: 3% 0;
}
@media(max-width:430px){
  .eev{
    background-image:linear-gradient(  rgba(0, 0, 0, 0.8),
  rgba(0, 0, 0, 0.10)),url("images/electric_bac.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .slogan{
    margin-left: 15%;
  }
}
.pet{
  background-image:linear-gradient(  rgba(0, 0, 0, 0.8),
  rgba(0, 0, 0, 0.10)),url("images/petrol_mbac.jpg");
  background-size:100%;
  background-repeat: no-repeat;
  height: 100vh;
  display:block;
  background-position: 70%;
  padding:0 !important;
  margin:0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.pet .nav2{
  margin-top: 5%;
}
.pet h1{
  font-family: 'IBM Plex Serif', serif;
  color: rgb(255, 255, 255);
  text-align: center;
  border: white 2px solid;
  border-radius: 10vh;
  margin: 5% 30%;
  background-color: #bbbbbb85;
}
.pet .news{
  color: #efefef;
  text-align: center;
  margin-top: 3%;
}
